@media only screen and (max-width: 815px) {
      
    #navbar {
    border:1px solid;
      height:207px;
    }

 

}
@media only screen and (max-width: 400px) {
    #main-doc{
      margin-left:-10px;
    }
}
#navbar{
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: whitesmoke;
    padding-top: 20px;
    text-align: center;
}
 a {
    padding: 12px 8px 6px 16px;
    text-decoration: none;
     border-top: 2px solid black;
    color: #818181;
    display: block;
  }
.main-section{
margin-left: 200px;
font-size: 28px;
padding: 0px 10px;
}
header{
    font-weight: bold;
    font-size:larger;

}
code{
    display: block;
    text-align: left;
    background-color:lightgreen;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-size: 22px;
}
p,ul{
    font-size: 25px;
}
#navbar>header{
    font-size: 25px;
}




